.pagination {
    justify-content: center;
}

.table td,
.table th {
    white-space: normal;
}

canvas {
    border-radius: 0.5rem;
}

.expand {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 2rem;
    padding-bottom: 1.3rem;
}

.loading {
    position: absolute;
    right: 50%;
    bottom: 50%;
    height: 4rem;
    width: 4rem;
}

/* 画面拡大アイコン */
.expand i {
    color: #000;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
}

.post_img:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
}

.play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0; /*余計な隙間を除く*/
    padding: 0; /*余計な隙間を除く*/
    -webkit-text-stroke: 0.1rem #fff;
    text-stroke: 0.1rem #fff;
}
